header {
    background-color: forestgreen;
    text-align: center;
}

.liens {
    text-align: center;
    font-size: large;
    display: inline;
}

.liens a {
    padding: 20px;
}

#titre {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}