html {
    background-color: lightgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: large;
}

header {
    background-color: forestgreen;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.liens {
    text-align: center;
    font-size: large;
    display: inline;
}

.liens a {
    padding: 20px;
}

#titre {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

body {
    background-color: green;
    padding: 10px;
    padding-bottom: 50px;
}

h2 {
    padding-left: 20px;
}

.bloc::after {
    content: "";
    clear: both;
    display: table;
}

.sousbloc {
    float: left;
    width: 50%;
    padding: 0px;
}

.sousbloc img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre code {
    background-color: #1f1f1f;
    color: #f2f2f2;
    border: 5px ridge black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: auto;
  }

<<<<<<< HEAD
  #centr {
      margin-left: auto;
      margin-right: auto;
  }

=======
a:link {
    color:darkblue;
    text-decoration: none;
}

a:visited {
    color:darkblue;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    font-style: italic;
}
>>>>>>> 59280eed3a65eee81b233c503bd0e7ad2eb04b4b
